<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a>
        </ul>

        <b>Instructions for editing:</b>
        <ul>
          <li>Click on <b>View on Github</b> button above</li>
          <li>Click <b>Sign in</b> at top right, enter credentials</li>
          <li>Click on the `models.md` file</li>
          <li>Click the pencil icon in the top right</li>
          <li>If modifying an existing file, delete the file first from the editor
            <br>
            e.g. delete the line that's like "[ISRG-v1.xlsx](https://github.com/user-attachments/files/16645204/ISRG-v1.xlsx)" if you're reuploading the ISRG-v1.xlsx file
          <li>Drag and drop your file from your file explorer into the editor, this should create the new list item</li>
          <li>Click the green <b>Commit changes</b> button in the top right</li>
          <li>Changes should take effect in about 60 seconds, double check that the right file is there</li>
        </ul>
        
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
